$control-font-size: 40px;
ion-content{
  --ion-background-color:gray;
}
canvas {  
  width: 1750px;
  height: 1750px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#components {
  width: 1000px;
  height: 1000px;
  border: solid 1px white;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  z-index: 50;
}

#map {
  .chunk {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform .4s;
}

.player {
  width: 50px;
  height: 75px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
    
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(calc(-50% + 6px)) translateY(calc(-50% - 20px));
  z-index: 100;
  transition: all .2s;
}

.player-inverted {
  transform: translateX(calc(-50% + 6px)) translateY(calc(-50% - 20px)) scaleX(-1);
}

.fly {
  //box-shadow: -9px 0 2px 2px rgba(0, 0, 0, 0.3) !important;
  transform: translateX(calc(-50% + 8px)) translateY(calc(-50% - 25px));
}

#move-controls {
  left: 10%;
}

#attack-controls {
  right: 10%;
}

.controls{
  z-index: 200;
  position: fixed;
  width: 150px;
  height: 150px;
  top: 50%;
  transform: translateY(-50%);
  .up {
    height: 33%;
    width: 33%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
  }
  .up::after {
    content: '>';
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0,0,0,.5);
    display: block;
    transform: rotate(-90deg) translateX(11px) translateY(1px);
    font-size: $control-font-size;
    font-weight: bold;
  }
  .down {
    height: 33%;
    width: 33%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
  }
  .down::after {
    content: '>';
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0,0,0,.5);
    display: block;
    transform: rotate(90deg) translateX(15px) translateY(1px);
    font-size: $control-font-size;
    font-weight: bold;
  }
  .left {
    width: 33%;
    height: 33%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.1));
  }
  .left::after {
    content: '>';
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0,0,0,.5);
    display: block;
    transform: rotate(180deg) translateX(13px) translateY(-1px);
    font-size: $control-font-size;
    font-weight: bold;
  }
  .right {
    width: 33%;
    height: 33%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.1));
  }
  .right::after {
    content: '>';
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0,0,0,.5);
    display: block;
    transform: translateX(12px) translateY(2px);
    font-size: $control-font-size;
    font-weight: bold;
  }

  .click {
    width: 33%;
    height: 33%;
    background-image: linear-gradient(to right, rgba(0,0,0,.1), rgba(0,0,0,.1));
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  div {
    transition: .1s all;
    position: absolute;
    border-radius: 4px;
  }

  div:hover {
    box-shadow: -2px 0 2px 2px rgba(0,0,0,0.5);
  }
}