<ion-content>
  <div *ngIf="storeMenu">
    <ul>
      <li><a (click)="pauseMenu = false; pauseResume()">Resume</a></li>
      <li><a (click)="pauseMenu = false; mainMenu = true">Return to main menu</a></li>
    </ul>
  </div>
  <div *ngIf="pauseMenu" class="overlay">
    <ul>
      <li><a (click)="pauseMenu = false; pauseResume()">Resume</a></li>
      <li><a (click)="pauseMenu = false; mainMenu = true">Return to main menu</a></li>
    </ul>
  </div>
  <div *ngIf="dead" class="overlay">
    <ul>
      <li><h1 style="font-size: 40px" class="gothic">Game Over</h1></li>
      <li><a (click)="dead = false; pauseResume()">Respawn</a></li>
      <li><a (click)="dead = false; mainMenu = true">Return to main menu</a></li>
    </ul>
  </div>
  <div *ngIf="mainMenu" class="overlay" id="main-menu">
    <ul>
        <li><h1 style="font-size: 40px" class="gothic">Okite</h1></li>
      <li *ngIf="gameCreated" (click)="loadGame()"><a>Continue game</a></li>
      <li><a (click)="createGame()">New game</a></li>
    </ul>
  </div>

  <div id="move-controls" class="controls">
    <div class="up" (tap)="move(0, 50);"></div>
    <div class="down" (click)="move(0, -50)"></div>
    <div class="click" (click)="plantTree()" id="a-click"></div>
    <div class="left" (click)="move(-50, 0)"></div>
    <div class="right" (click)="move(50, 0)"></div>
  </div>

  <div id="attack-controls" class="controls">
    <div class="up" (click)="throwDagger(0,-8)"></div>
    <div class="down" (click)="throwDagger(0,8)"></div>
    <div class="click" id="b-click" (click)="showHud = 0"></div>
    <div class="left" (click)="throwDagger(-8,0)"></div>
    <div class="right" (click)="throwDagger(8,0)"></div>
  </div>

  <div id="pause-control" (click)="pauseMenu = true; pauseResume()"></div>
  
  <canvas id="components" width="128px" height="128px"></canvas>

  <div id="map" #map>
    <canvas 
      class="chunk"
      id="canvas{{chunk.position.x}}{{chunk.position.y}}" 
      width="560px" 
      height="560px"
      *ngFor="let chunk of chunks" 
      [style.left.px]="chunk.position.x" 
      [style.top.px]="chunk.position.y">
    </canvas>
    <canvas 
      class="chunk enemies"
      id="enemies{{chunk.position.x}}{{chunk.position.y}}" 
      width="560px" 
      height="560px"
      *ngFor="let chunk of chunks" 
      [style.left.px]="chunk.position.x" 
      [style.top.px]="chunk.position.y">
    </canvas>
  </div>
</ion-content>